<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.3" />
  <package id="WebActivator" version="1.4.1" />
  <package id="Spark" version="1.5.1.6" />
  <package id="Spark.Web.Mvc2" version="1.5.1.6" />
</packages>